https://tracinsy.ewi.tudelft.nl/pubtrac/GeniusWebPython/export/100/geniuswebcore/dist/geniusweb-1.2.1.tar.gz
ray[rllib]==2.9.0
torch
torch_geometric
torch-scatter
pytest
plotly
scikit-learn
kaleido
wandb
gputil
psutil
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html