https://tracinsy.ewi.tudelft.nl/pubtrac/GeniusWebPython/export/100/geniuswebcore/dist/geniusweb-1.2.1.tar.gz
ray[rllib]
torch
torchvision
torch_geometric
torch-scatter
tensorboard
torch-tb-profiler
tensordict
pytest
plotly
scikit-learn
kaleido
wandb
gputil
psutil
gymnasium
pettingzoo
cloudpickle
supersuit
tyro
pandas
-f https://data.pyg.org/whl/torch-2.2.0+cu121.html